.admin-logo {
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px white solid;
    transition: linear 0.2s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
      filter: grayscale(1);
    }
  }
}
