.product-view {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: hidden;
  border-radius: 15px;
  padding: 10px;
  .edit-content {
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    cursor: pointer;
    .edit-btn {
      position: absolute;
      top: 0;
      right: 0;
      transform: scale(0);
      transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover {
      border: 2px solid;
      padding: 10px;
      border-radius: 10px;
      .edit-btn {
        transform: scale(1);
      }
    }
  }
  .left {
    width: 100%;
    padding: 10px;
    img {
      width: 100%;
      border-radius: 30px;
    }
  }
  .right {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.svgs {
  z-index: -55;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .product-view {
    flex-direction: column;
    height: 100%;
  }
}
