.login {
  padding: 20px;
  border: 3px solid;
  border-radius: 30px;
  margin: auto;
  position: relative;
  .user-logo {
    //transform: translateY(-100px);
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid;
    text-align: center;
    .fas {
      line-height: 1.2;
    }
  }
  .content {
    margin-top: 50px;
  }
}
