.user-card {
  min-width: 300px;
  min-height: 400px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  &:hover {
    &.admin {
      box-shadow: 0px 0px 10px purple;
    }
    &.superadmin {
      box-shadow: 0px 0px 10px gold;
    }
    .header {
      .img {
        img {
          filter: grayscale(0);
          transform: scale(1) rotate(0);
        }
      }
    }
  }
  &.admin {
    border: 2px solid purple;
  }
  &.superadmin {
    border: 2px solid gold;
  }
  .header {
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-bottom-left-radius: 60px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        transform: rotate(10deg) scale(1.5);
        filter: grayscale(20);
        transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
      }
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
        border-bottom-left-radius: 60px;
      }
    }
    .meta {
      position: absolute;
      bottom: 10px;
      left: 0;
      color: white;
      width: 100%;
      .username {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: larger;
      }
      .email {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: medium;
      }
    }
  }
  .body {
    text-align: justify;
    padding: 20px;
    margin-top: 10px;
  }
}
