.user-list-item {
  margin: 10px auto;
  width: 200px;
  padding: 10px 0;
  border-radius: 10px;
  position: relative;
  background-color: #e9e9e9;
  background-image: none;
  transition: 0.4s ease-in;
  &:hover {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    background-size: 150% 110%;
    color: #e9e9e9;
  }
  .avatar {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: auto;
    img {
      width: 100px;
      height: 100px;
      border: 2px white solid;
      border-radius: 50%;
      margin: auto;
      object-fit: cover;
    }
    figcaption {
      font-size: large;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
  .popover-data {
    border-top: 1px rgb(196, 196, 196) solid;
    p {
      margin-top: 10px;
    }
  }
}
